streamlit
langchain
langchain_google_genai  # Update to the specific version if known
langchain_core  # Update to the specific version if known
langchain_community
requests
beautifulsoup4
pytesseract
Pillow
chroma
chromadb  # Update to the specific version if known
sqlite-binary==3.45.0

